footer {
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
    display: inline-block;
}

.second-button {
    display: flex;
    background-color: #ffffff;
    height: 5rem;
    width: 5rem;
    max-width: 100px;
    margin-bottom: 1em;
    box-shadow: 0 0 5px 5px rgb(110,255,208);
    border-radius: 50%;
    display: inline-block;
    font-size: 3rem;
    border: 0;
    float:left;

    span {
        padding-left: 0.5rem;
        color: rgb(8, 34, 74);
    }
}

.foot-block {
    background-color: rgb(110,255,208);
    width: 50rem;
    height: 10rem;
    display: inline-block;
}

.foot-menu {
    float: none;
}

.footer-list {
    li {
        display: inline-block;
    }
}


/* Почему bootsrtrap не работает если появляются свойства значит он работает. 
С рабочим бутсрапом сделай колонны с ul ссылка в it https://getbootstrap.com/docs/4.0/layout/grid/ */ 
