header {
    height: 6rem;
    padding-top: 2rem;
}

.menu {
    list-style: none;
    float: none;
    padding-top: 1.8rem;
}

.menu-item {
    list-style: none;
    display: inline;
    margin-right: 1em;
}

.menu-item a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    height: 5rem;
    width: 5rem;
}

.logo > img {
    height: 100%;
    width: auto;
    position: top;
}

.button-head {
    margin-top: 1rem;
    color: #000000;
    padding: 0.5rem;
    background: rgb(255, 255, 255);
    text-align: center;
    max-width: 15rem;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5); 
}