header {
    height: 6rem;
    padding-top: 2rem;
}

.menu {
    list-style: none;
    float: none;
    padding-top: 1.5rem;
}

.menu-item {
    list-style: none;
    display: inline;
    margin-right: 1em;
}

.menu-item a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    height: 5rem;
    width: 5rem;
}

.logo > img {
    height: 12rem;
    width: 12rem;
    position: top;
}

.button-head {
    margin-top: 1.3rem;
}