header {
    height: 3rem;
    background-color:  rgb(110,255,208);
    text-align: center;
    @include theme;
}

.menu {
    list-style: none;
    float: none;
}

.menu-item {
    list-style: none;
    display: inline;
    margin-right: 1em;
}

.menu-item a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

