body {
    font-family: 'Poppins', sans-serif;
    color: rgb(8, 34, 74);
    margin: 0;
    padding: 0;
    background-color: rgb (228,255,248);  
}

.hhh{
    font-weight: 500;
    font-size: 50px;
}

h2 {
    font-size: 40px;
    margin: 0;
    line-height: 20PX;
    padding-bottom: 1rem;
}

.begin {
    line-height: 2rem;
}

.strong {
    font-weight: 900;
}

section {
    padding: 2em;
}

U {
    text-decoration-color: rgb(110,255,208);
    font-weight: bolder;
    text-underline-offset: 8px;
}

.description {
    padding-top: 1rem; 
}

.blank {
    flex-basis: 100%;
    width: 0;
}

.page {
    display: flex;  
    flex-wrap: wrap;
    width: 100%;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-top: 120px;
    margin-bottom: 10rem;
}

.bottom {
    color: #ffffff;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: rgb(4,247,171);
    background: linear-gradient(90deg, rgba(4,247,171,1) 0%, rgba(1,184,172,1) 100%);
    text-align: center;
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    width: 12rem;
    font-size: 20px;
    /* box-shadow: 0 0 5px 5px rgb(255, 255, 255); */
    border-radius: 10px;
    border: 2px solid #00a99b;
}

.bottom-near {
    color: #ffffff;
    background: rgb(4,247,171);
    background: linear-gradient(90deg, rgba(4,247,171,1) 0%, rgba(1,184,172,1) 100%);
    text-align: center;
    height: 4rem;
    margin-top: 3rem;
    line-height: 4rem;
    padding: 0 1.5rem 0 1.5rem;
    max-width: 15rem;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #00a99b;
    margin-left: 0.5rem;
}

li {
    list-style-type: none;
}

.line {
    background: rgb(110,255,208);
    display: block;
    height: 80%;
    float: left;
    width: 5px;
    margin-right: 1rem;
    margin-bottom: 10rem;
}

.tovar {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.absolute-tovar {
    position: relative;
    width: 500px;
    margin-right: 10rem;
}

.image-tovar {
    position: absolute;
    height: 40rem;
    width: 5rem;
}

.image-tovar > img {
    height: 100%;
    width: auto;
}

