/* Error: expected more input.
 *    ,
 * 56 | С рабочим бутсрапом сделай колонны с ul ссылка в it https://getbootstrap.com/docs/4.0/layout/grid/
 *    |                                                                                                   ^
 *    '
 *   assets\scss\assets\_footer.scss 56:99  @import
 *   assets\scss\main.scss 6:26             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected more input.\a    \2577 \a 56 \2502  \421  \440 \430 \431 \43e \447 \438 \43c  \431 \443 \442 \441 \440 \430 \43f \43e \43c  \441 \434 \435 \43b \430 \439  \43a \43e \43b \43e \43d \43d \44b  \441  ul \441 \441 \44b \43b \43a \430  \432  it https://getbootstrap.com/docs/4.0/layout/grid/\a    \2502                                                                                                    ^\a    \2575 \a   assets\\scss\\assets\\_footer.scss 56:99  @import\a   assets\\scss\\main.scss 6:26             root stylesheet";
}
