body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c7b9b9;
}

header {
    height: 7rem;
    background-color: #3a29db;
    color: #faf1a0;
    text-align: center;
    padding: 1em;
}

section {
    padding: 2em;
}

footer {
    background-color: #3a29db;
    color: #faf1a0;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu {
    list-style: none;
    float: left;
}

.menu-item {
    list-style: none;
    display: inline;
    margin-right: 1em;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.product {
    flex-grow: 3;
    margin-right: 2rem;
    margin-left: 2rem;
}

.container {
    display: flex;
}

.image {
    position: relative;
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    margin-right: 4rem;
    margin-left: 4rem;
}

.image > img {
    width: 100%;
    height: auto;
}

.description {
    margin-right: 2rem;
}


.product.middlediv {
}
/* Когда пробел, он относится к элементу который находится в .product
.product.middlediv => class="product middlediv"
.product .middlediv => <div class="product"><div class="middlediv"></div></div> 
